{% extends "home.html" %}

{% block content %}
<div class="colcenter">
	<h1 style="font:300 38px custo-thin; color:#fff;">Register</h1>
	{% if reg_error %}
		<span class="error">{{ reg_error }}</span>
	{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		<p>Username: <input type="text" name="username" placeholder="Username" class="flatTextbox" /></p>
		<p>Name:<input type="text" name="name" placeholder="Name" class="flatTextbox" /></p>
		<p>Password:<input type="password" name="password" placeholder="Password" class="flatTextbox" /></p>
		<p>Email:<input type="text" name="email" placeholder="Email" class="flatTextbox" /></p>
		<p>School/College: <input type="text" name="college" placeholder="College" class="flatTextbox" /></p>		
		<p><input type="submit" name="add-participant" value="Register" class="flatButton green" /></p>
	</form>
</div>
{% endblock %}

